.bg-royalblue {
    background-color: #4123cf;
}

.border-top-royale {
    border-top: solid 3px #4123cf;
}

body {
    padding: 100px 0 20px 0;
    font-family: 'Montserrat', Arial, sans-serif;
}

hr {
    height: 2px;
    background-color: #4123cf;
}

/***** liste associations *****/
main {
    padding-bottom: 10px;
}
footer {
    padding-top: 10px;

}


/***** listes associations et personnages *****/
p.title {
    font-size: 2rem;
}
#list_personnages li,
#list-asso li {
    margin: 10px 0;
    line-height: 2em;
}
#list_personnages a,
#list-asso a {
    color: #0C0C0C;
    text-decoration: underline;
}
#list_personnages a:hover,
#list-asso a:hover {
    color: #e26207;
    text-decoration: none;
    cursor: pointer;
}

/***** personnages *****/
.illustration {
    float:left;
    width: 45%;
    margin: 0 20px 10px 0;

}