.bg-royalblue {
    background-color: #4123cf;
}

.border-top-royale {
    border-top: solid 3px #4123cf;
}

body {
    padding-top: 100px;
    font-family: 'Montserrat', Arial, sans-serif;
}

/***** liste associations *****/
footer {
    padding: 10px 0px;

}


/***** liste associations *****/
#list-asso li {
    margin-bottom: 10px;
}
#list-asso a {
    color: #0C0C0C;
}
#list-asso a:hover {
    color: #303030;
    text-decoration: none;
    cursor: pointer;
}
